.custom-search-bar {
  position: relative;
  width: 100%;
  max-width: 300px;

  input {
    width: 100%;
    padding: 15px 12px 15px 40px;
    //border: 1px solid #ccc;
    background-color: #181818;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    &:focus {
      outline: none;
      border: 1px solid #ccc;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
  }
}
