.sidebar-container {
  display: flex;
  height: 100vh;
}

.main-layout {
  width: 100%;
  padding: 0px 50px;
  margin-left: 300px; 
}

.sidebar {
  background: #2c2c2c;
  position: fixed;
  color: #ffffff;
  height: 98vh;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: left 0.3s ease;
}

.sidebar-top-section {
  padding: 20px 15px;
  text-align: center;
}

.sidebar-menu {
  flex-grow: 1;
}

.sidebar-footer {
  padding-bottom: 30px;
}

.bars {
  display: none;
}

.sidebar-link {
  display: flex;
  color: #939597;
  padding: 10px 30px;
  margin: 8px 15px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  transition: all 0.5s;
}

.sidebar-link:hover {
  background: #80abc5;
  color: #ffffff;
}

.active-sidebar {
  background: #1a85c8 !important;
  color: #ffffff;
}

.icon,
.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
 .bars {
    display: block !important;
    cursor: pointer;
    font-size: 25px;
    margin-left: 0;
    color: white;
    background-color: darkorange;
  }

  .sidebar {
    left: -300px; 
    z-index: 1000;
  }

  .sidebar.show {
    left: 0; 
  }

  .main-layout {
    margin-left: 0;
    padding: 1rem;
  }
}
