.sidebar-container {
  display: flex;
  height: 100vh;
  // position: relative;
}

.main-layout {
  width: 100%;
  padding: 0px 50px;
  margin-left: 300px;
  transition: margin-left 0.3s ease;

  &.sidebar-open {
    margin-left: 0;
  }
}

.sidebar {
  background: #2c2c2c;
  position: fixed;
  color: #ffffff;
  height: 100vh;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, left 0.3s ease;
  z-index: 1000;

  &.closed {
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }
}

.sidebar-top-section {
  padding: 20px 15px;
  text-align: center;
}

.sidebar-menu {
  flex-grow: 1;
}

.sidebar-footer {
  padding-bottom: 30px;
}

.sidebar-link {
  display: flex;
  color: #939597;
  padding: 10px 30px;
  margin: 8px 15px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  transition: all 0.5s;
}

.sidebar-link:hover {
  background: #80abc5;
  color: #ffffff;
}

.active-sidebar {
  background: #1a85c8 !important;
  color: #ffffff;
}

.icon,
.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
// .hamburger-btn {
//   position: fixed;
//   top: 20px;
//   left: 20px;
//   background: transparent;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   padding: 10px;
//   z-index: 1100;
//   cursor: pointer;
//   display: none;

//    svg {
//     font-size: 28px; 
//   }

//   @media (max-width: 768px) {
//     display: block;
//   }
// }

.sidebar-nav {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1a85c8;
    z-index: 1100;
    box-sizing: border-box;
   

    img {
      height: 40px; 
    }

    .hamburger-btn {
      // position: static; 
      display: block;
      background: transparent;
      color: #fff;
      border: none;
      cursor: pointer;

      svg {
        font-size: 28px;
      }
    }
  }
}

.sidebar-top-section .hamburger-btn {
  display: none !important;
}


@media (max-width: 768px) {
  .sidebar-container {
   flex-direction: column;

  }

  .sidebar {
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh !important;
    transform: translateX(-100%);
    border-radius: 0;
    width: 70%;

  }
   .sidebar.open {
    transform: translateX(0); 
  }

  .main-layout {
    margin-left: 0; 
    padding: 0 20px;
    padding-top: 60px;
    transition: margin-left 0.3s ease;
  }

}
