
.hero-background {
  background-image: url("/src/assets/images/running man.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section {
  flex: 1.5;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  margin-top: 7%;
  color: #000000;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  margin-bottom: 7%;
  line-height: 2rem;
}

.sponsor-section {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000bd;
  overflow: hidden;
  padding: 1rem;
  animation: slideIn 1s ease-out forwards;
  -webkit-animation: slideIn 1s ease-out forwards;
}

.sponsor-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slide-track img {
  height: 30px;
  width: max-content;
  margin: 0 2rem;
  object-fit: contain;
  max-height: 40px;
}

.slide-track {
  display: flex;
  width: calc(200px * 10);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
  }
}

.FAQ-section {
  text-align: center;
  margin-top: 12%;
    

  .FAQ-title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .FAQ-subtitle {
    margin-bottom: 5rem;
  }

  .FAQ-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    
  }

  .accordion-item {
    padding: 2rem ;
    background-color: #2C2C2C;
    border-radius: 20px;
    margin-bottom: 1rem;
    
    .accordion-header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      h3 {
        margin: 0;
      }

      span {
        font-size: 1.5rem;
        color: #2C2C2C;
        background-color: #1a85c8;
        border-radius: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 0px 13px;
}
    }

    .accordion-body {
      margin-top: 0.5rem;
    }
  }
}


@media (max-width: 768px){
  .hero-background{
    background-size: contain;
    background-position: top;
    min-height: 100vh;
  }

  .hero-section{
    padding: 1rem;
    margin-top: 3%;

  }

  .hero-title{
    font-size: 2rem;
  }
  .hero-subtitle{
    font-size: 1rem;
    margin-bottom: 2rem;
    
  }

  .sponsor-section{
    display: none;

  }
  .slide-track{
    animation-duration: 30s;
  }
}
