.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.steps-image {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;

  img {
    object-fit: contain;
    width: 70%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.steps-header {
  color: #1a85c8;
  margin-bottom: 1rem;
}
.steps-title {
  text-transform: uppercase;
}

.steps-text {
  width: 50%;
}

.step-item {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.step-image {
  margin-top: 1rem;
}

//Media Query

@media(max-width: 480px){
  .steps-container{
    margin-bottom: 7rem; 
  }
  .steps-title{
    font-size: 1.5rem;
  }
  .step-item{
    h2{
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .steps-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .steps-image {
    width: 90%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;
    }
  }

  .steps-text{
   width: 90%;
   text-align: left;
   margin-bottom: 3rem;
  }
}
