.notification-container {
  .note-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;

    .header-text {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .initials {
    background: #1a85c8;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 2px 15px;
    font-size: 18px;
    font-weight: 600;
    font-size: 20px;
  }
  .name-initials {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: #2c2c2c;
    height: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .notification-wrapper {
    background: #2c2c2c;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .notification-heading {
      font-size: 20px;
      font-weight: 600;
    }

    .notification-welcome {
      text-align: center;

      .notification {
        margin-bottom: 2rem;
      }

      .notification-sub {
        color: #1a85c8;
        font-size: 18px;
      }

      .createEmailIcon {
        cursor: pointer;
      }

      .create-text {
        margin-right: 10px !important;
      }
    }
  }

  .search-add{
    display: flex;
    justify-content: space-between;
  }
}
