.notification-container {
  .notification-wrapper {
    background: #2c2c2c;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    // .notification-heading {
    // }

    .notification-welcome {
      text-align: center;
      
      .createEmailIcon {
        cursor: pointer;

      }

       .addIcon{
            margin-left: 10px;
        }
    }
  }
}
