.notification-container {
  .notification-wrapper {
    background: #2c2c2c;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .notification-heading {
      font-size: 20px;
      font-weight: 600;
    }

    .notification-welcome {
      text-align: center;

      .notification {
        margin-bottom: 2rem;
      }

      .notification-sub {
        color: #1a85c8;
        font-size: 18px;
      }

      .createEmailIcon {
        cursor: pointer;
      }

      .create-text {
        margin-right: 10px !important;
      }
    }
  }
}
