.workout-container {
  .workout-wrapper {
    background: #2c2c2c;
    padding: 30px;
    margin-top: 1.5%;
    border-radius: 20px;

    .workout-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      //   gap: 5%;
      margin-top: 3rem;

      .card {
        background-color: #181818;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        width: 45%;
        gap: 30px;
        align-items: center;
        margin-bottom: 2rem;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
        }
      }

      .workOutImg {
        width: 50%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      .card-content {
        align-items: center;

        .wp-desc {
          font-size: 14px;
          opacity: 0.7;
          margin-bottom: 5rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .workout-cards {
    width: 100% !important;
    box-sizing: border-box !important;

    .card {
      flex-direction: column;
      max-width: 100% !important;
    }

    .card img {
      width: 100% !important;
    }
  }
  .card-content {
    width: 100% !important;
  }
  
}

@media (max-width: 768px) {
  .workout-cards {
    scrollbar-width: none;

    .card {
      width: 100% !important;
      margin-bottom: 1rem;
    }

    .workOutImg {
      width: 50% !important;
      object-fit: cover !important;
    }
    .card-content {
      width: 50%;
    }
  }
}
